<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "MacTips" %></title>

    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>

  </head>
    <%= render 'topbar' %>
  <body>
    <div class='container'>
    <% if !flash.empty? %>
    <div data-alert class="alert-box info radius">
        <div id="flash">
        <% flash.keys.each do |k| %>
            <div class="<%= k %>">
                <%= flash[k] %>
            </div>
        <% end %>
        </div>
    <a href="#" class="close">&times;</a>
    </div>
    <% end %>

      <%= yield %>
      <%= javascript_include_tag "application" %>
    </div>
  </body>
</html>
